<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://codeforstartup.com">
                  <img src="images/logo.png" width="70" alt="Maizzle">
                </a>
                <p class="text-red-500 font-extrabold">CODE FOR STARTUP</p>
              </td>
            </tr>
            <tr>
              <td
                class="bg-top bg-no-repeat bg-cover rounded text-left px-6"
              >
                <table class="bg-white w-full rounded p-6">
                  <tr>
                    <td>
                      <h1 class="text-slate-600 font-semibold">Hello,</h1>
                    </td>
                  </tr>
                  <tr>
                    <td class="align-center">
                      <h5 class="m-0 mb-6 text-lg sm-leading-8 text-slate-600 font-semibold">WELCOME TO
                        <a class="text-slate-600 no-underline" href="https://codeforstartup.com">CODEFORSTARTUP</a>
                      </h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="m-0 mb-6 text-base text-slate-700">Thanks for registering an account with CodeForStartup.</p>
                      <p class="m-0 mb-6 text-base text-slate-700">Before we get started, we'll need you to verify your email:</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <x-button href="https://codeforstartup.com">
                        Confirm email address &rarr;
                      </x-button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>

            <tr>
              <td>
                <div class="px-12 sm:px-6 mx-6 py-4 px-6 bg-white rounded text-left shadow-sm">
                  <p class="m-0 text-sm text-slate-500">
                    Thank you for your choosing us. Let me know if you have any questions via email <a href="mailto:luannguyenbkit@gmail.com">luannguyenbkit@gmail.com</a>
                  </p>
                </div>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12 sm:leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
